*{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Agdasima', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Lugrasimo', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
